body
{
/*    background-image:url(../../../content/brokenwaves_1920x1200.jpg);*/
    background-image:url(../../../content/achtergrond.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
