#vertel
{
    background:transparent;
    font-size:10pt;
}

#vertel section
{
    background-color:rgba(152,251,152,0.8);    
    overflow:hidden;
    text-align:justify;    
    border-radius:20px;
    margin-top:1em;
    margin-bottom:1em;
    padding:2em;
}

