#vertel
{
    color:black;
    background:#98FB98;
    width:90%;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:20px;
    overflow:hidden;
    text-align:justify;
    font-size:10pt;
    padding-right:5%;
    padding-left:5%;
}

#vertel h3
{
    font-size:2em;
    margin-top:1em;
    margin-bottom:1em;
/*    text-transform:capitalize;*/
}

#vertel h4
{
    font-size:1.5em;
    margin-top:0.5em;
    margin-bottom:0.5em;
/*    text-transform:capitalize;*/
}
