/*--------------------------------------*/
/* RESET                                */
/*--------------------------------------*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
{
    margin:0;
    padding:0;
    font-family:Tahoma;
}

table
{
    border-collapse:collapse;
    border-spacing:0;
}

fieldset, img
{
    border:0;
}

address,caption,cite,code,dfn,th,var
{
    font-style:normal;
    font-weight:normal;
}

caption,th
{
    text-align:left;
}

h1,h2,h3,h4,h5,h6
{
    font-size:100%;
    font-weight:normal;
}

q:before,q:after
{
    content:'';
}

abbr,acronym
{
    border:0;
}
/*--------------------------------------*/


/*--------------------------------------*/
/* Generic Style                        */
/*--------------------------------------*/
html
{

}

body
{
    color:black;
/*    background-color:rgba(136,195,103,1);*/
    background-color:#FFFFCC;
}

#main
{
    width:1024px;
    max-width:100%;
    min-height:800px;
    margin-left:auto;
    margin-right:auto; 
}

.main
{
    text-align:justify;
    font-size:10pt;   
}    

.main h1
{
    font-size:2em;
    margin-top:0.5em;
    margin-bottom:1em;
}

.main h2
{
    font-size:1.5em;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

.main h3
{
    font-size:1.25em;
    margin-top:0.25em;
    margin-bottom:0.25em;
}

.main span
{
    color:red;
}

/*--------------------------------------*/
/* Content Style                        */
/*--------------------------------------*/
.content
{
    color:black;
    background-color:rgba(136,195,103,0.75);    
    width:90%;
    overflow:hidden;
    padding-left:5%;
    padding-right:5%;
}

.discipline h1
{
    text-transform:capitalize;
}

.discipline_images
{
    margin-top:2em;
}

.discipline_image
{
    display:inline-block;
    margin-bottom:2em;
    height: auto;
    width: 48%;
}

.discipline_image a img
{
    border: 1px solid transparent;
    width:440px;
    height:248px;
    border-radius:20px;
}

.discipline_image a:hover img
{
    border: 1px solid #000000;
}

.article_home
{
    padding:1em;
}

.article_home footer
{
    text-align:right;
}

.section_home_text
{
    display:inline-block;
    vertical-align:top;
    width:48%;
}

.section_home_text ul
{
    list-style-position:outside;
}

.section_home_images
{
    display:inline-block;
    vertical-align:top;
    width:48%;
}

.section_home_images a
{
    display:inline-block;
    width:100%;
    height:248px;
    border-radius:20px;  
    overflow:hidden;  
}

.section_home_images img
{
    width:100%;
    height:100%;
}

#bdsch
{
    margin-bottom:2em;
    padding-bottom:2em;
}

#bdsch label
{
    font-size:1.5em;
    margin-top:0.5em;
    margin-bottom:0.5em;
    text-transform:capitalize;
}

#bdsch input[type=text]
{
    display:block;
    width:100%;
}

#bdsch input[type=reset]
{
    float:left;
}

#bdsch input[type=submit]
{
    float:right;
}

#bdsch textarea
{
    display:block;
    width:100%;
    height:18em;
}

#bdsch span
{
    color:red;
}

#vertel
{
    background:transparent;
    font-size:10pt;
}

#vertel section
{
    background-color:rgba(136,195,103,0.75);    
    overflow:hidden;
    text-align:justify;    
    border-radius:20px;
    margin-top:1em;
    margin-bottom:1em;
    padding:2em;
}

#banner
{
    color:black;
    background:transparent;
    width:100%;
    height:160px;
    margin-top:0.2em;
    border-top-left-radius:40px;
    border-top-right-radius:40px;
    overflow:hidden;
    font-size:12pt; 
}

.banner_logo
{
    float:left;
    width:30%;
    height:85%;
}

.banner_logo img
{
    width:100%;
}

#banner>p
{    
    margin:0;    
    float:right;
    font-family:Tahoma;
    font-size:35px; 
    font-weight:bold;    
    transform-origin:left top;
    transform:rotate(12deg);  
    
    -ms-transform-origin:left top;
    -webkit-transform-origin:left top;
    -o-transform-origin:left top;
    -moz-transform-origin:left top;            
    -ms-transform: rotate(12deg); /* IE 9 */
    -webkit-transform: rotate(12deg); /* Safari and Chrome */
    -o-transform: rotate(12deg); /* Opera */
    -moz-transform: rotate(12deg); /* Firefox */     
}

.media_items
{
    background-color:rgba(0,0,0,0.5);
    float:left;
    width:100%;
    height:15%;
}

.media_item_language
{
    float:left;
    height:100%;
}

.media_item_language img
{
    height:100%;   
    width:1.5em;     
}

.media_item_social
{
    float:right;
    height:100%;    
}

.media_item_social img
{
    height:100%;
    width:1.5em;
}

#footer
{
    display:inline-block;
    color:black;
/*    background:#FFFF33;*/
    background-color:rgba(255,255,51,0.75); 
    overflow:hidden;
    width:100%;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
    margin-bottom:0.5em;
/*    position:absolute; */
/*    bottom:-10;*/
}

#footer a
{
    margin-top:5px;
    margin-bottom:5px;
    margin-left:10px;
    margin-right:10px;
    display:inline-block;
    color:inherit;
    background:inherit;
    text-decoration:none;
    float:right;
}

#footer a img
{
    float:left;
    height:2em;
}

#gallery_form
{
    width:100%;
    display:inline-block;
    margin-top:1em;
    margin-bottom:1em;
}

#gallery_form input
{
    float:right;
    width:80px;
    margin-bottom:5px;
}

#gallery_form select
{
    border-width:1px;
    border-style:ridge;
    border-radius:4px;
    font-size:100%;
    width:100%;
}

#gallery_page
{
    width:100%;
    text-align:justify;
}

.galleryPageItem
{
    display:inline-block;
    text-decoration:none;
    width:48%;
    margin-bottom:1em;
    border-radius:20px;
    overflow:hidden;
}

.galleryThumb
{
    float:left;
    width:100%;
}

.video_container div
{
    float:left;
    width:100%;
}

#map_canvas
{
    height:40em;
    width:100%;
}

#calendar
{
    width:100%;
    height:40em;
    border:0;
    margin:0;
    padding:0;
    overflow:hidden;
}

.meteorology_box
{
    width:100%;
    height:1000px;
}

.meteorology_box2
{
    width:100%;
}

.meteorology_box2 img
{
    width:100%;
}

.buienradar
{
    position:absolute;
    z-index:-1;     
    width:100%;
    height:1200px;
}

.weergadget
{
    position:relative;
    left:720px;
    top:800px;
    width:300px;
    height:190px;   
/*    border-radius:10px; */
/*    overflow:hidden;*/
}

.weergadget iframe
{
    width:100%;
    height:100%;
}

.like_button_iframe
{
    float:right;
    border:none;
    overflow:hidden;
/*    width:225px; */
/*    height:80px;*/
    width:25%;
    height:100%;
    background-color:white;
}

.iframe_pdf
{
    width:100%;
    height:100em;
    z-index:-5;
}

.home_content
{
    width:90%;
}

.location_content article
{
    display:inline-block;
    width:45%;
}

#route
{
    display:inline-block;
    width:50%;
    border-radius:20px;
}

.article_canoetours section
{
    background-color:rgba(136,195,103,0.75);    
    border-radius:20px;
    margin-top:0.5em;
    margin-bottom:0.5em;
    text-align:center;
}

.article_canoetours h1
{
    margin:0;
}

.section_canoetour
{
    display:inline-block;
    width:48%;
}

.section_canoetour h2
{
/*    background:#FFFF33;*/
    background-color:rgba(255,255,51,0.75); 
    margin:0;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}

.section_canoetour img
{
    width:100%;
    padding:0; 
    margin:0;
}

.section_canoetour a
{
    display:block;
    width:100%;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px; 
    padding:0; 
    margin:0;
}

.justify-all-lines
{
    /* This element will need layout for the text-justify
     * to take effect in IE7 (and possibly previous versions);
     * this will force it, for more info Google "hasLayout in IE"
     */
/*    overflow: hidden;*/
    text-align: justify;

    /* For IE6 to IE7 since they don't support :after */
    /* -ms-text-justify: distribute-all-lines; /* IE8+ */
    /* text-justify: distribute-all-lines; /* IE5+ */
}

.justify-all-lines:after
{
    /*
     * We don't need IE6 and IE7 inline-block hack support here
     * since they don't support :after anyways (the text-justify
     * properties for them are above)... IE8 and above have native
     * inline-block support so for IE8+, both the text-justify and
     * :after will take effect but it doesn't have any negative
     * effects since this element is invisible
     */
    display: inline-block;
    width: 100%;
    content: '.';
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

/*--------------------------------------*/


/*--------------------------------------*/
/* NAV (Menu)                           */
/*--------------------------------------*/
.nav{
    list-style:none;
    font-weight:bold;
    color:black;
    padding-top:0px;
    padding-bottom:0px;

    /* Clear floats */
    /*float:left;*/
    height:30px;
/*    Bring the nav above everything else--uncomment if needed.*/
/*    position:relative;*/
/*    z-index:5;*/
    /*clear:both; /* Now the div wraps nicely around children. */
    /*overflow:hidden; /* Now the div wraps nicely around children.*/
}

.nav li
{
    float:left;
    position:relative;
    color:inherit;
    background:inherit;
    height:inherit;
}

.nav li.rightitem
{
    float:right;
}

.nav a
{
    display:block;
    padding:0px 10px 0px 10px;
    color:inherit;
    background:inherit;
    text-decoration:none;
    height:inherit;
    line-height:30px; /* static */
    border-radius:20px;
}

.nav a:hover
{
    color:inherit;
    background:inherit;
    text-decoration:underline;
}

/*--- DROPDOWN ---*/
.nav ul
{
    background:inherit; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background-color:transparent; /*background:rgba(255,255,51,0);  But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    position:absolute;
    display:none;
}

.nav ul li
{
    padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
    float:none;
    border-radius:20px;
}

.nav ul a
{
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
    border-radius:20px;
    text-transform:capitalize;
}

/* Display the dropdown on hover */
.nav li:hover ul
{
    display:inherit;
    z-index:5;
}

/* These create persistent hover states, meaning the top-most link stays 'hovered'
   even when your cursor has moved down the list. */
.nav li:hover a
{
    text-decoration:underline;
}

/* The persistent hover state does however create a global style for links even
   before they're hovered. Here we undo these effects. */
.nav li:hover ul a
{
    text-decoration:none;
}

/* Here we define the most explicit hover states--what happens when you hover each
   individual link. */
.nav li:hover ul li a:hover
{

}


/* Alter individual menu's */
#menu
{
    background-color:rgba(255,255,51,1); 
    width:100%;
    font-size:12pt; 
}

#menu li:hover a
{
    background-color:rgba(255,255,51,1); 
}

#menu li:hover ul li a:hover
{
    background:#FFFF73;
}

/** Default Table **/
table
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:100%;
    border-collapse:collapse;
    margin-bottom:2em;
}

table th 
{
    font-size:1.1em;
    padding:3px 7px 2px 7px;
    background-color:rgba(255,255,51,0.75);    
    color:black;
}

table th.alt
{
    border-bottom-style:double;
    border-bottom-width:3px;
    border-bottom-color:black;
}

table td
{
    font-size:1em;
}

table td 
{
    border:0px solid black;
    padding:3px 7px 2px 7px;
}

table tr
{
    color:black;
    background-color:rgba(136,195,103,0.75);    
}

table tr.alt
{
    color:black;
    background-color:rgba(102,255,102,0.8);        
}

td span
{
    color:red;
}

